page-account {

    div#block {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    div.txt {
      float: right;
      font-size: 150%;
      margin-top: 7px;
    }

    div.elem {
      float: left;
    }
}
