<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>OLLE-APP</title>
    <link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
    <script>
    	angular.module('ionicApp', ['ionic'])

    .run(function($ionicPlatform) {
      $ionicPlatform.ready(function() {
        // Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
        // for form inputs)
        if(window.cordova && window.cordova.plugins.Keyboard) {
          cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
        }
        if(window.StatusBar) {
          // org.apache.cordova.statusbar required
          StatusBar.styleDefault();
        }
      });
    })

    .config(function($stateProvider, $urlRouterProvider) {

      $stateProvider
        .state('tabs', {
          url: "/tab",
          abstract: true,
          templateUrl: "templates/tabs.html"
        })

        

        .state('tabs.forum', {
        	
          
          views: {
            'forum-tab': {
              templateUrl: "templates/sideNav.html",
              controller: 'HomeCtrl'
            }
          },
          url: "/forum",
          abstract: true    
        })

         .state('tabs.forum.tasks', {
          url: "/tasks",
          views: {
            'sideNav': {
              templateUrl: "templates/forum.html",
              controller: 'HomeCtrl'
            }
          }
        })
               
        .state('tabs.calendar', {
          url: "/calendar",
          views: {
            'calendar-tab': {
              templateUrl: "templates/calendar.html"
            }
          }
        })
        
        .state('tabs.chats', {
          url: "/chats",
          views: {
            'chats-tab': {
              templateUrl: "templates/chats.html",
              controller: 'ChatRoomsCtrl' 
            }
          }
        })

        .state('tabs.me', {
          url: "/me",
          views: {
            'me-tab': {
              templateUrl: "templates/me.html"
            }
          }
        })

      // if none of the above states are matched, use this as the fallback
      $urlRouterProvider.otherwise('/tab/forum/tasks');
    })

    .controller('HomeCtrl', function($scope, $timeout, $ionicModal, $ionicActionSheet) {
      

        $ionicModal.fromTemplateUrl('newTask.html', function(modal) {
          $scope.settingsModal = modal;
        });      

        $scope.onRefresh = function() {
          console.log('ON REFRESH');

          $timeout(function() {
            $scope.$broadcast('scroll.refreshComplete');
          }, 1000);
        }
    
        $scope.weeks = [
        	{value: 5, id: 5},
        	{value: 4, id: 4},
        	{value: 3, id: 3},
        	{value: 2, id: 2},
        	{value: 1, id: 1}
      	];

        $scope.newTask = function() {
          	$scope.settingsModal.show();
        };
  
        $scope.onItemDelete = function(week) {
	    	$scope.weeks.splice($scope.weeks.indexOf(week), 1);
	  	};

	  	$scope.edit = function(week) {
	    	alert('Edit week: ' + week.id);
	  	};

     })
     .controller('TaskCtrl', function($scope) {
        $scope.close = function() {
          $scope.modal.hide();
        }
      })

     .controller('ChatRoomsCtrl', function($scope){

      	$scope.chatrooms = [
        	{ title: 'English', id: 1 },
        	{ title: 'Japanese', id: 2 },
        	{ title: 'Spanish', id: 3 },
        	{ title: 'Korean', id: 4 },
        	{ title: 'Chinese', id: 5 },
        	{ title: 'French', id: 6 }
      	];
      })
      .controller('TaskCtrl', function($scope) {
        $scope.close = function() {
          $scope.modal.hide();
        }
      })

      .controller('AlertCtrl', function($scope, $ionicPopup){
      		$scope.showConfirm = function() {
             var confirmPopup = $ionicPopup.confirm({
               title: 'Log out',
               template: 'Are you sure you want to log out?'
             });
             confirmPopup.then(function(res) {
               if(res) {
                 window.location.href='index.html';
               } else {
                 console.log('You are not sure');
               }
             });
           };
      });
    </script>
  </head>

  <body ng-app="ionicApp">
    
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Forum" icon-on="ion-ios-book" 
               				   icon-off="ion-ios-book-outline" 
               				   href="#/tab/forum"
               				   >
          <ion-nav-view name="forum-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Calendar" icon-on="icon ion-ios-calendar" 
      							  icon-off="icon ion-ios-calendar-outline" 
      							  href="#/tab/calendar">
          <ion-nav-view name="calendar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Chats" icon-on="icon ion-ios-chatbubble" 
      						   icon-off="icon ion-ios-chatbubble-outline" 
      						   href="#/tab/chats">
          <ion-nav-view name="chats-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Me" icon-on="icon ion-ios-person" 
        					icon-off="icon ion-ios-person-outline"
      						href="#/tab/me">
          <ion-nav-view name="me-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="templates/sideNav.html" type="text/ng-template">
       
    <ion-side-menus>

      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
          <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="sideNav" animation="slide-left-right"></ion-nav-view>
      </ion-pane>

      <ion-side-menu side="left">            
            <ion-header-bar class="bar-stable">
          		<h1 class="title">Navigation bar</h1>
        	</ion-header-bar>

        	<ion-content>       		
         	    <ion-list>
            		<ion-item nav-clear menu-close ng-click="newTask()">
              			New
            		</ion-item>
            		<ion-item nav-clear menu-close href="#">
              			Reminder
            		</ion-item>
            		<ion-item nav-clear menu-close href="#">
              			Manage students
            		</ion-item>
          		</ion-list>       	
            </ion-content>  
        </ion-side-menu>  
    </ion-side-menus>
      
    </script>

    <script id="templates/forum.html" type="text/ng-template">
      <ion-view view-title="Forum">                   
        <ion-nav-buttons side="left">
        	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      	</ion-nav-buttons>               
        <ion-content has-tabs="true" >
            <ion-refresher></ion-refresher>
         		<ion-list scroll="false" 
                    	  >
            		<ion-item ng-repeat="week in weeks" 
                              href="#/tab/forum/tasks/week{{week.id}}" class="item-remove-animate">
          		        Week {{ week.value }} 
          		        <ion-option-button class="button-assertive" 
                             			ng-click="onItemDelete(week)">
                            Delete
          				</ion-option-button>	
          		        <ion-option-button class="button-calm"
                             ng-click="edit(week)">
            				Edit
          				</ion-option-button>        		        
            		</ion-item>
          		</ion-list>
        </ion-content>                     
      </ion-view>         
    </script>

    
    <script id="templates/calendar.html" type="text/ng-template">
      <ion-view view-title="Calendar">
        <ion-content class="padding">
          
          <p>Built with Sass and optimized for AngularJS.</p>
          
        </ion-content>
      </ion-view>
    </script>

   

    <script id="templates/chats.html" type="text/ng-template">
      <ion-view title="Chats">
        <ion-content >
    		<ion-list>
        		<ion-item ng-repeat="chatroom in chatrooms" href="#/chatroom/{{chatroom.id}}" >
            		<i class="icon ion-chatbubble-working"></i>  {{chatroom.title}} 
            	</ion-item>
         	 </ion-list>
        </ion-content>       
      </ion-view>
    </script>

   	<script id="templates/me.html" type="text/ng-template">
      <ion-view view-title="Me">
        <ion-content>
        <ion-list>

        		<ion-item class="item-thumbnail-right" href="#">
          			<img src="http://www.runoob.com/try/demo_source/venkman.jpg">
         			Profile photo         
        		</ion-item>       

        		<ion-item class="item-icon-right" href="#">
          			Firstname
          			<span class="item-note">
           			 Venkenman
          			</span>
          			<i class="icon ion-chevron-right"></i>
        		</ion-item>

        		<ion-item class="item-icon-right" href="#">
          			Lastname
          			<span class="item-note">
           			 BLACK
          			</span>
          			<i class="icon ion-chevron-right"></i>
        		</ion-item>

        		<ion-item class="item-icon-right" href="#">
          			Gender
          			<span class="item-note">
           			Male
          			</span>
          			<i class="icon ion-chevron-right"></i>
        		</ion-item>

        		<ion-item class="item-icon-right" href="#">
          			Settings
          			<i class="icon ion-chevron-right"></i>
        		</ion-item>
         	</ion-list></br></br>
			<button class="button button-large button-block
						   button-assertive"
						   ng-controller="AlertCtrl"
						   ng-click="showConfirm()">
						Log out
			</button>
          
        </ion-content>
      </ion-view>
    </script> 

    <script id="newTask.html" type="text/ng-template">
      <div id="task-view" class="modal slide-in-up" ng-controller="TaskCtrl">
        <ion-header-bar>  
          <h1 class="title">New task</h1>
        </ion-header-bar>
        <ion-content class="padding has-header">          
		  <textarea placeholder="I need to do this..." rows="50" cols="50" 
		  			style="overflow:scroll;overflow-y:hidden;overflow-x:hidden"  
					onfocus="window.activeobj=this;this.clock=setInterval(function()
							 {activeobj.style.height=activeobj.scrollHeight+'px';},200);" 
					onblur="clearInterval(this.clock);">
		  </textarea>
        </ion-content>
        <ion-footer-bar>
        
			<button class="button button-positive" ng-click="close()">Cancel</button>	
			<button class="button button-positive" ng-click="close()">Post to Forum</button>		
		</ion-footer-bar>
      </div>
    </script>

    <script id="templates/nav-stack.html" type="text/ng-template">
      <ion-view view-title="Tab Nav Stack">
        <ion-content class="padding">
          <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
        </ion-content>
      </ion-view>
    </script>


  </body>
</html>