<ion-header>
  <ion-navbar>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons *ngIf="isAdmin || isMaster"end>
    	<button ion-button icon-only (click)="addEvent()">
    		<ion-icon name = "add"></ion-icon>
    	</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<!-- array of events in the calendar -->
	<!-- passes the event selected to function -->
	<calendar
	[eventSource]="eventSource"
	[calendarMode]="calendar.mode"
	[currentDate]="calendar.currentDate"
	(onEventSelected)="onEventSelected($event)"
	(onTitleChanged)="onViewTitleChanged($event)"
	(onTimeSelected)="onTimeSelected($event)"
	step="30"
	class="calendar">
	</calendar>

  <ion-fab right bottom *ngIf="isMaster">
    <button ion-fab color="primary" (click)="removeOld()"><ion-icon name="remove"></ion-icon></button>
  </ion-fab>
</ion-content>
