page-calendar {

  content-drawer {
    background-color: #34495e !important;
  }

  content-drawer .content {
    padding: 20px;
  }

  div .test1 {
    margin-top: 56px;
  }

  div .drawerFooter {
    display: block;
    background-color: #f8f8f8 !important;
    height: 56px;
    bottom: 0px;
  }

  div .drawerFooterText {
    text-align: center;
    padding-top:12px;
    font-size: 2rem;
    font-weight: 500;
  }

  .scroll-content{
    margin-bottom: 0px !important;
  }
}
