<ion-header>
  <ion-navbar text-center no-border-top color="primary">
    <ion-title></ion-title>
    <ion-toolbar no-border-top>
      <ion-searchbar (ionInput)="getItems($event)">
        <ion-icon name="search"></ion-icon>
      </ion-searchbar>  
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
	
  <ion-item id="topic" item-text-wrap>
    <h1>
       Subject: {{item.topic_title}}
    </h1>
    <div>
      <br><ion-item text-wrap>Description: {{item.topic_detail}}</ion-item>
	  <br><div id="dateTopic"><a>Deadline: {{item.topic_date}}</a></div>
    </div>
	<div id="buttonreply">
		<button ion-button (click)="goToNewReply(item)" icon-left>
		<ion-icon name="ios-undo">
		</ion-icon>  Reply 
    </button>
  </div>
  </ion-item>

  <ion-list>
    <ion-item id="card" *ngFor="let item1 of items">
	  <p>
	  	<ion-icon name="ios-person">
		</ion-icon>
        <a> &nbsp;{{item1.username}} </a> 
            &nbsp;Tag: <a>{{item1.language}}</a>  	
      </p>
      <ion-item text-wrap >&nbsp;&nbsp;{{item1.user_post}}
      </ion-item>
            
      <div id="viewbtn">
      	<br><a>{{item1.post_date}}</a> 
      	<br> 
      	<button ion-button (click)="goToNewReply(item1)" >
		 	<ion-icon name="ios-undo">
			</ion-icon> Reply 
		</button>
		<button ion-button (click)="getPostedReply(item1)">
		 	<ion-icon>
			</ion-icon> Comments
		</button>
      </div>
      <div *ngIf="isReplyEmpty()">
      <ion-list *ngFor="let item of posted_reply">
      	<ion-card id="card"   *ngIf="view_comments(item, item1)"> 
      		<p>
	  		<ion-icon name="ios-person">
			</ion-icon>
        	<a> &nbsp;{{item.username}}</a>
        		&nbsp;Tag: <a>{{item.language}} </a> 	
      		</p>
      		<ion-item text-wrap>&nbsp;&nbsp;{{item.user_post}}</ion-item>
      	</ion-card>
      </ion-list>
	</div>
   </ion-item>  
  </ion-list>
</ion-content>
<!--
<ion-footer></ion-footer> -->