page-chat-m {

    .innerMessage {
        display: inline-block;
        padding: 5px 10px;
        background: color($colors, 'primary');
        margin: 5px;
        color: white;
        border-radius: 3px;
    }

    .innerMessage.messageRight {
        background: color($colors, 'secondary');
    }

    .message:after {
        content: '';
        //Ensure some spacing between the messages
        display: block;
        // next message displayed below.
        clear: both;
    }

    .messageLeft {
        float: left;
    }

    .messageRight {
        float: right;
    }

    .username {
        font-weight: bold;
        font-size: 80%;
    }

    .message {
        font-size: 120%;
    }

    .time_sent {
        font-size: 50%;
    }

    .elem button {
      border-radius: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .elem {
      position: relative;
      min-width: 60px;
    }

    div#footer {
      display: flex;
      flex-direction: row;
    }

    div#footer div.elem:first-child {
      flex-grow: 1;
    }

    ion-toolbar {
      margin: 0;
      padding: 0;
    }

}
