<ion-header #head>
  <ion-navbar>
    <ion-title>{{item.language}}</ion-title>
  </ion-navbar>
</ion-header>

<div *ngIf="displayOnLoad">
  <content-drawer class="drawer"[options]="drawerOptions">
    <div class="content">{{item.description}}</div>
    <ion-footer>
      <div class="drawerFooter">
        <div class="drawerFooterText">{{item.topic}}</div>
      </div>
    </ion-footer>
  </content-drawer>
</div>

<ion-content>
  <div id="chatMessages">
      <div class="message" *ngFor="let message of messages">
        <div [class]="message.username != supp ? 'innerMessage messageLeft' : 'innerMessage messageRight'">
          <div class="username">{{message.username}}</div>
          <div class="message">{{message.message}}</div>
          <div class="time_sent">{{message.time_sent}}</div>
        </div>
      </div>
  </div>

  <ion-infinite-scroll position="top" threshold="1px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>



<ion-footer #footer>
  <ion-toolbar>
    <div id="footer">
      <div class="elem">
        <ion-input type="text" placeholder="Message..." [(ngModel)]="message"></ion-input>
      </div>
      <div class="elem">
        <button ion-icon icon-only (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </button>
      </div>
    </div>

  </ion-toolbar>
</ion-footer>
